In [1]:
import pickle
import numpy as np
import random
import matplotlib.pyplot as plt
from collections import Counter
import pandas as pd

In [2]:
def readData(datafile):
    datafileImport = "data/" + datafile
    infile = open(datafileImport, 'rb')
    new_dict = pickle.load(infile)
    return new_dict

In [3]:
data=["TY_Koc_Sales.pkl","TY_Koc_Basket.pkl","TY_Koc_Fav.pkl","TY_Koc_Gender.pkl","TY_Koc_Impression.pkl"\
      ,"TY_Koc_Price.pkl","TY_Koc_Quantity_Demand.pkl","TY_Koc_Quantity.pkl","TY_Koc_Rating_Review.pkl"\
      ,"TY_Koc_Removefromfav.pkl","TY_Koc_Size_Atts.pkl","TY_Koc_Visit.pkl"]

In [4]:
datas={"salesData":[],
       "basket":[],
       "fav":[],
       "gender":[],
       "impression":[],
       "price":[],
       "demand":[],
       "quantity":[],
       "rating":[],
       "removeFromFav":[],
       "sizeAtt":[],
       "visit":[]
       }

In [5]:
keys=list(datas.keys())
for i in range(len(data)):
    datas[keys[i]]=readData(data[i])

In [6]:
min_date = min(datas["salesData"]["order_date"])
max_date = max(datas["salesData"]["order_date"])
print("Avaliable min date = ", min_date, "\nAvaliable max date = ", max_date)
print("Total timeframe of the salesData",\
      (max(datas["salesData"]["order_date"])-min(datas["salesData"]["order_date"])).days+1)

Avaliable min date =  2021-04-01
Avaliable max date =  2021-10-24
Total timeframe of the salesData 207

In [7]:
# Zero padding
sales= datas["salesData"].sort_values(by=['product_id','order_date'])
basket= datas["basket"].sort_values(by=['product_id','date'])
visit= datas["visit"].sort_values(by=['product_id','date'])
impression= datas["impression"].sort_values(by=['product_id','date'])
demand= datas["demand"].sort_values(by=['product_id','date'])
removeFromFav= datas["removeFromFav"].sort_values(by=['product_id','date'])

# Elongate
fav= datas["fav"].sort_values(by=['product_id','date'])
rating= datas["rating"].sort_values(by=['product_id','date'])
#Needs to be analyzed
price= datas["price"].sort_values(by=['product_id','created_date'])


# For clustering, no place in regression
attr = datas["sizeAtt"]
gender= datas["gender"]

# Discarded
stock= datas["quantity"].sort_values(by=['product_id','date'])

In [26]:
rating[(rating.product_id == 207940697241116)].head(50)

             product_id        date  reviewCount    rating
9234    207940697241116  2021-04-05            2  5.000000
21836   207940697241116  2021-04-06            1  1.000000
34722   207940697241116  2021-04-07            2  5.000000
47210   207940697241116  2021-04-08            5  4.200000
53926   207940697241116  2021-04-09            1  5.000000
95248   207940697241116  2021-04-10            4  4.000000
105050  207940697241116  2021-04-11            1  5.000000
130258  207940697241116  2021-04-13            2  5.000000
146090  207940697241116  2021-04-14            3  5.000000
155347  207940697241116  2021-04-15           32  4.937500
166964  207940697241116  2021-04-16           96  4.895833
174098  207940697241116  2021-04-17           87  4.862069
182239  207940697241116  2021-04-18           26  4.692308
14159   207940697241116  2021-04-19           90  4.811111
53404   207940697241116  2021-04-20          180  4.750000
56905   207940697241116  2021-04-21          175  4.617143
67807   207940697241116  2021-04-22          167  4.664671
73313   207940697241116  2021-04-23          135  4.600000
97058   207940697241116  2021-04-24          179  4.698324
104707  207940697241116  2021-04-25           73  4.575342
128295  207940697241116  2021-04-26          165  4.684848
113140  207940697241116  2021-04-27          126  4.579365
133989  207940697241116  2021-04-28          173  4.531792
148082  207940697241116  2021-04-29          156  4.423077
13221   207940697241116  2021-04-30          160  4.500000
48329   207940697241116  2021-05-01          103  4.485437
55817   207940697241116  2021-05-02           64  4.515625
71593   207940697241116  2021-05-03          151  4.596026
79902   207940697241116  2021-05-04          152  4.381579
85837   207940697241116  2021-05-05          175  4.348571
103347  207940697241116  2021-05-06          141  4.390071
111450  207940697241116  2021-05-07          131  4.366412
122719  207940697241116  2021-05-08          142  4.323944
123651  207940697241116  2021-05-09           90  4.322222
187761  207940697241116  2021-05-10          139  4.489209
2110    207940697241116  2021-05-11          110  4.472727
20047   207940697241116  2021-05-12           92  4.391304
29339   207940697241116  2021-05-13           53  4.339623
38158   207940697241116  2021-05-14           53  4.264151
42852   207940697241116  2021-05-15           66  4.500000
52382   207940697241116  2021-05-16           42  4.809524
57955   207940697241116  2021-05-17          211  4.616114
81141   207940697241116  2021-05-18          183  4.633880
91064   207940697241116  2021-05-19          164  4.365854
124872  207940697241116  2021-05-20          171  4.309942
139706  207940697241116  2021-05-21          172  4.122093
159676  207940697241116  2021-05-22          270  3.925926
167971  207940697241116  2021-05-23          113  4.123894
177566  207940697241116  2021-05-24          249  3.622490
3149    207940697241116  2021-05-25          229  3.628821

In [14]:
print("Number of uniqe products in each table")
for name,d in datas.items():
    print(name,len(Counter(d["product_id"]).keys())) # equals to list(set(words)))

#len(Counter(datas["salesData"]["product_id"]).values()) # counts the elements' frequency

Number of uniqe products in each table
salesData 68310
basket 126724
fav 145346
gender 327774
impression 78716
price 718986
demand 16275
quantity 1691
rating 32606
removeFromFav 127377
sizeAtt 959317
visit 310131

In [15]:
#Stock data for a specific product
stock = datas["quantity"]
stock[(stock.product_id == 2056551686182716)].sort_values(by=['date'])

              product_id        date  quantity
86846   2056551686182716  2021-04-01        29
70161   2056551686182716  2021-04-02        26
96608   2056551686182716  2021-04-03        22
94748   2056551686182716  2021-04-04        21
111154  2056551686182716  2021-04-05        20
...                  ...         ...       ...
20308   2056551686182716  2021-10-12         5
31971   2056551686182716  2021-10-13         1
0       2056551686182716  2021-10-14         0
82307   2056551686182716  2021-10-21         0
131052  2056551686182716  2021-10-23         0

[116 rows x 3 columns]

In [16]:
datas["salesData"][(datas["salesData"].product_id == 3557874004865180)].sort_values(by=['order_date'])

,product_id,brand_id,order_date,sales,current_bu_group_name,current_category_name
442376,3557874004865180,940277741,2021-05-03,1,Ev,Avize

In [34]:
datas["demand"][(datas["demand"].product_id == 2056551686182716)].sort_values(by=['date'])

              product_id        date  quantity_demand
95954   2056551686182716  2021-04-05                1
28433   2056551686182716  2021-04-11                1
160     2056551686182716  2021-04-21                1
46070   2056551686182716  2021-04-23                1
41440   2056551686182716  2021-04-24                1
31101   2056551686182716  2021-04-25                1
88916   2056551686182716  2021-04-26                1
78095   2056551686182716  2021-04-27                2
67007   2056551686182716  2021-04-29                1
56418   2056551686182716  2021-05-03                1
34729   2056551686182716  2021-05-06                1
89864   2056551686182716  2021-05-07                1
80149   2056551686182716  2021-05-08                1
112725  2056551686182716  2021-05-11                2
37699   2056551686182716  2021-05-31                2
114500  2056551686182716  2021-06-05                1
98449   2056551686182716  2021-06-07                1
33367   2056551686182716  2021-06-13                1
33167   2056551686182716  2021-07-01                2
46728   2056551686182716  2021-07-03                1
51409   2056551686182716  2021-07-18                1
22270   2056551686182716  2021-08-29                1
75849   2056551686182716  2021-09-01                1
52945   2056551686182716  2021-09-06                1
94697   2056551686182716  2021-09-23                1
60453   2056551686182716  2021-10-12                2
3532    2056551686182716  2021-10-13                2
12617   2056551686182716  2021-10-15                1
88379   2056551686182716  2021-10-22                1
30477   2056551686182716  2021-10-23                1

In [45]:
max(datas["salesData"]["order_date"])-min(datas["salesData"]["order_date"])
min(datas["fav"].sort_values(by=['date']).fav)

1

In [53]:
datas["impression"][datas["impression"].product_id == 3557874004865180].sort_values(by=['date']).head(50)

               product_id        date  impression
251292   3557874004865180  2021-04-01          10
156218   3557874004865180  2021-04-02           5
73154    3557874004865180  2021-04-03          14
801739   3557874004865180  2021-04-04          11
745268   3557874004865180  2021-04-05           1
434723   3557874004865180  2021-04-08           1
1259058  3557874004865180  2021-04-09           2
1618981  3557874004865180  2021-04-10           7
1586574  3557874004865180  2021-04-11           9
1485438  3557874004865180  2021-04-12           5
1391178  3557874004865180  2021-04-13           5
411626   3557874004865180  2021-04-14           3
310971   3557874004865180  2021-04-15           4
225583   3557874004865180  2021-04-16           3
132985   3557874004865180  2021-04-17          11
6007     3557874004865180  2021-04-18          15
767186   3557874004865180  2021-04-19           8
1242435  3557874004865180  2021-04-20           2
1110995  3557874004865180  2021-04-21           8
1012403  3557874004865180  2021-04-22           6
1160075  3557874004865180  2021-04-23          10
1755673  3557874004865180  2021-04-24           2
1603067  3557874004865180  2021-04-25           9
1530280  3557874004865180  2021-04-26           9
470743   3557874004865180  2021-04-28           4
780749   3557874004865180  2021-04-30           1
1282924  3557874004865180  2021-05-01           1
1143457  3557874004865180  2021-05-02           4
1067221  3557874004865180  2021-05-03          67
964354   3557874004865180  2021-05-04          53
1744737  3557874004865180  2021-05-05          36
1649068  3557874004865180  2021-05-06          27
1556941  3557874004865180  2021-05-07          31
1470473  3557874004865180  2021-05-08          18
1347134  3557874004865180  2021-05-09          12
44988    3557874004865180  2021-05-10           3
832612   3557874004865180  2021-05-11           1
680975   3557874004865180  2021-05-12           2
619912   3557874004865180  2021-05-13           1
480584   3557874004865180  2021-05-14           6
1266274  3557874004865180  2021-05-15           1
1166860  3557874004865180  2021-05-16           2
1057815  3557874004865180  2021-05-17          10
980357   3557874004865180  2021-05-18           6
884653   3557874004865180  2021-05-19           5
1355452  3557874004865180  2021-05-20           8
369824   3557874004865180  2021-05-21           4
286160   3557874004865180  2021-05-22          10
175509   3557874004865180  2021-05-23           6
64576    3557874004865180  2021-05-24           9

In [71]:
len(Counter(datas["price"][datas["price"].price == 0].sort_values(by=['created_date']).product_id).keys())

188743

In [70]:
datas["price"][datas["price"].price == 0].sort_values(by=['created_date'])

               product_id  price created_date
107105   1622646028236011    0.0   2021-04-01
107412   4517481808258390    0.0   2021-04-01
107411   2952563082286010    0.0   2021-04-01
107410   1471962003079782    0.0   2021-04-01
107409   4800161062261114    0.0   2021-04-01
...                   ...    ...          ...
2429998  1077072651441408    0.0   2021-10-24
2429997  1229835078177613    0.0   2021-10-24
2429996    47595181075257    0.0   2021-10-24
2430002  3023489139003682    0.0   2021-10-24
2430126   803878280515064    0.0   2021-10-24

[280517 rows x 3 columns]

In [57]:
datas["price"]

               product_id    price created_date
0        4132725922387191     0.00   2021-07-25
1        1854209447749994     0.00   2021-07-25
2        3385201861738318     0.00   2021-07-25
3        4901072044437340     0.00   2021-07-25
4        4981538539553204     0.00   2021-07-25
...                   ...      ...          ...
2486350  2803183558627727   119.84   2021-04-07
2486351  2501867247806930  1214.69   2021-04-07
2486352   729286085459627  2813.38   2021-04-07
2486353  4995275069845093   247.93   2021-04-07
2486354  1874156253613753   255.93   2021-04-07

[2486355 rows x 3 columns]

In [64]:
datas["salesData"][(datas["salesData"].product_id == 4132725922387191)].sort_values(by=['order_date'])

Empty DataFrame
Columns: [product_id, brand_id, order_date, sales, current_bu_group_name, current_category_name]
Index: []

In [ ]:
import pickle
import numpy as np
import random


def readData(datafile):
    datafileImport="data/"+datafile
    #datafileExport="data2/"+datafile
    infile = open(datafileImport, 'rb')
    new_dict = pickle.load(infile)
    #found_dict=new_dict.loc[new_dict['product_id'].isin(random_ids)]
    #file = open(datafileExport, 'wb')
    #pickle.dump(found_dict, file)
    #file.close()
    return new_dict

salesData="TY_Koc_Sales.pkl"
basket="TY_Koc_Basket.pkl"
fav="TY_Koc_Fav.pkl"
gender="TY_Koc_Gender.pkl"
impression="TY_Koc_Impression.pkl"
price="TY_Koc_Price.pkl"
demand="TY_Koc_Quantity_Demand.pkl"
quantity="TY_Koc_Quantity.pkl"
rating="TY_Koc_Rating_Review.pkl"
removeFromFav="TY_Koc_Removefromfav.pkl"
sizeAtt="TY_Koc_Size_Atts.pkl"
visit="TY_Koc_Visit.pkl"
data=[salesData,basket,fav,gender,impression,price,demand,quantity,rating,removeFromFav,sizeAtt,visit]
datas={"salesData":[],
       "basket":[],
       "fav":[],
       "gender":[],
       "impression":[],
       "price":[],
       "demand":[],
       "quantity":[],
       "rating":[],
       "removeFromFav":[],
       "sizeAtt":[],
       "visit":[]
       }
keys=list(datas.keys())
for i in range(len(data)):
    datas[keys[i]]=readData(data[i])


dates = sorted(datas["salesData"]["order_date"].unique())
#productIDs= datas["salesData"]["product_id"].unique()

print(len(datas["price"]['product_id'].unique()))
sales= datas["salesData"].sort_values(by=['order_date'])
ids=sales["product_id"]
rules1Problems=[]
rules2Problems=[]
rules3Problems=[]
for productID in ids:
    #rule1
    """
    productDatas=datas["salesData"][datas["salesData"].product_id==productID]
    firstOrder=min(productDatas["order_date"])

    pricesData=datas["price"][datas["price"].product_id==productID]
    if len(pricesData)==0:
        #print(pricesData)
        #print(firstOrder, " ", productID)
        rules1Problems.append(productID)
        continue
    firstChange=min(pricesData["created_date"])
    if firstOrder<firstChange:
        print(firstOrder," ",firstChange, " ", productID)
        rules1Problems.append(productID)
    """
   #rule2
    """
    pricesData = datas["price"][datas["price"].product_id == productID]
    if len(pricesData) == 0:
        continue
    ChangeDates = pricesData["created_date"]
    curPrice=0
    for ChangeDate in ChangeDates:
        priceGivenID = pricesData[pricesData.created_date == ChangeDate]
        if curPrice==0:
            curPrice=priceGivenID['price'].iloc[0]
            continue
        elif priceGivenID['price'].iloc[0]==0:
            print(productID," ", curPrice, " ", priceGivenID['price'].iloc[0])
            rules2Problems.append(productID)
    """

    #rules3
    StartDate=min(datas["salesData"]['order_date'])
    EndDate=min(datas["salesData"]['order_date'])
    productDatas = datas["salesData"][datas["salesData"].product_id == productID]
    pricesData = datas["price"][datas["price"].product_id == productID]
    newGap=1
    if len(pricesData) == 0:
        continue
    ChangeDates = pricesData["created_date"]

    for ChangeDate in ChangeDates:
        priceGivenID = pricesData[pricesData.created_date == ChangeDate]
        curPrice = priceGivenID['price'].iloc[0]
        startPrice=-1
        if curPrice == 0:
            StartDate = ChangeDate
            startPrice = curPrice
            newGap=1
        else:
            EndDate = ChangeDate
            if newGap==1: # price 0 olduğu alandan + olduğu aralığa bakıyor - yeni bir 0 olmayan gelince bakmaya gerek yok.
                newGap=0
            else:
                continue
        productSalesData = productDatas[(productDatas.order_date>=StartDate) & (productDatas.order_date<EndDate)]
        if len(productSalesData)!=0:
            rules3Problems.append(productID)
            print("price of sales: ", startPrice,"sales Date ",ChangeDate)
print(rules3Problems)

Overall = {}

dates = sorted(datas["salesData"]["order_date"].unique())
productIDs= datas["salesData"]["product_id"].unique()
for productID in productIDs:
    for date in dates:
        Overall[productID]={"date":date}
        if date in datas["salesData"]['order_date']:
            Overall[productID]["sales"]=datas["salesData"][datas["salesData"].product_id==productID]['sales']
        else:
            Overall[productID]["sales"]=0

In [82]:
sales[100:150]

,product_id,brand_id,order_date,sales,current_bu_group_name,current_category_name
207064,68413811038,8169316966,2021-09-06,1,FMCG,Lokum
181333,68413811038,8169316966,2021-09-07,4,FMCG,Lokum
452706,68413811038,8169316966,2021-09-08,2,FMCG,Lokum
405501,68413811038,8169316966,2021-09-09,2,FMCG,Lokum
607307,68413811038,8169316966,2021-09-11,2,FMCG,Lokum
553942,68413811038,8169316966,2021-09-12,4,FMCG,Lokum
509023,68413811038,8169316966,2021-09-13,3,FMCG,Lokum
105919,68413811038,8169316966,2021-09-15,2,FMCG,Lokum
60840,68413811038,8169316966,2021-09-16,2,FMCG,Lokum
285807,68413811038,8169316966,2021-09-18,2,FMCG,Lokum
238737,68413811038,8169316966,2021-09-19,4,FMCG,Lokum
412180,68413811038,8169316966,2021-09-20,3,FMCG,Lokum
353483,68413811038,8169316966,2021-09-21,2,FMCG,Lokum
392624,68413811038,8169316966,2021-09-22,2,FMCG,Lokum
346599,68413811038,8169316966,2021-09-23,4,FMCG,Lokum
592223,68413811038,8169316966,2021-09-25,4,FMCG,Lokum
91274,68413811038,8169316966,2021-09-29,4,FMCG,Lokum
232884,68413811038,8169316966,2021-09-30,4,FMCG,Lokum
423788,68413811038,8169316966,2021-10-01,2,FMCG,Lokum
342667,68413811038,8169316966,2021-10-03,1,FMCG,Lokum
574587,68413811038,8169316966,2021-10-05,2,FMCG,Lokum
496951,68413811038,8169316966,2021-10-07,2,FMCG,Lokum
143536,68413811038,8169316966,2021-10-08,2,FMCG,Lokum
96807,68413811038,8169316966,2021-10-09,2,FMCG,Lokum
296898,68413811038,8169316966,2021-10-10,5,FMCG,Lokum
254042,68413811038,8169316966,2021-10-11,4,FMCG,Lokum
222404,68413811038,8169316966,2021-10-12,6,FMCG,Lokum
194014,68413811038,8169316966,2021-10-13,1,FMCG,Lokum
471000,68413811038,8169316966,2021-10-14,1,FMCG,Lokum
432579,68413811038,8169316966,2021-10-15,1,FMCG,Lokum
366655,68413811038,8169316966,2021-10-16,2,FMCG,Lokum
312886,68413811038,8169316966,2021-10-17,3,FMCG,Lokum
616240,68413811038,8169316966,2021-10-18,3,FMCG,Lokum
588778,68413811038,8169316966,2021-10-19,2,FMCG,Lokum
87891,68413811038,8169316966,2021-10-20,2,FMCG,Lokum
111899,68413811038,8169316966,2021-10-21,2,FMCG,Lokum
29127,68413811038,8169316966,2021-10-23,1,FMCG,Lokum
92894,80600520022,7063004032,2021-09-29,1,Aksesuar & Saat & Gözlük,Bijuteri Bileklik
476440,102697027600,8073812102,2021-06-03,1,Ev,Süzgeç
311384,102697027600,8073812102,2021-10-17,1,Ev,Süzgeç
624497,106695702182,8819028382,2021-05-09,1,Ev,Kupalar
344790,106695702182,8819028382,2021-09-23,1,Ev,Kupalar
588305,113980132423,9532860926,2021-10-19,2,GM,Parti Gözlüğü & Maske
87231,113980132423,9532860926,2021-10-20,1,GM,Parti Gözlüğü & Maske
302760,113980132423,9532860926,2021-10-24,1,GM,Parti Gözlüğü & Maske
12032,165144950830,6598759647,2021-04-30,1,Branded Tekstil,Şal
6447,186123043015,9913779744,2021-04-05,1,Consumer Electronics,Bilgisayar&Tablet Aksesuarları
50203,186123043015,9913779744,2021-04-06,3,Consumer Electronics,Bilgisayar&Tablet Aksesuarları
284460,186123043015,9913779744,2021-04-08,2,Consumer Electronics,Bilgisayar&Tablet Aksesuarları
168900,186123043015,9913779744,2021-04-09,1,Consumer Electronics,Bilgisayar&Tablet Aksesuarları

In [84]:
dates = sorted(datas["salesData"]["order_date"].unique())
dates

[datetime.date(2021, 4, 1),
 datetime.date(2021, 4, 2),
 datetime.date(2021, 4, 3),
 datetime.date(2021, 4, 4),
 datetime.date(2021, 4, 5),
 datetime.date(2021, 4, 6),
 datetime.date(2021, 4, 7),
 datetime.date(2021, 4, 8),
 datetime.date(2021, 4, 9),
 datetime.date(2021, 4, 10),
 datetime.date(2021, 4, 11),
 datetime.date(2021, 4, 12),
 datetime.date(2021, 4, 13),
 datetime.date(2021, 4, 14),
 datetime.date(2021, 4, 15),
 datetime.date(2021, 4, 16),
 datetime.date(2021, 4, 17),
 datetime.date(2021, 4, 18),
 datetime.date(2021, 4, 19),
 datetime.date(2021, 4, 20),
 datetime.date(2021, 4, 21),
 datetime.date(2021, 4, 22),
 datetime.date(2021, 4, 23),
 datetime.date(2021, 4, 24),
 datetime.date(2021, 4, 25),
 datetime.date(2021, 4, 26),
 datetime.date(2021, 4, 27),
 datetime.date(2021, 4, 28),
 datetime.date(2021, 4, 29),
 datetime.date(2021, 4, 30),
 datetime.date(2021, 5, 1),
 datetime.date(2021, 5, 2),
 datetime.date(2021, 5, 3),
 datetime.date(2021, 5, 4),
 datetime.date(2021, 5, 5),
 datetime.date(2021, 5, 6),
 datetime.date(2021, 5, 7),
 datetime.date(2021, 5, 8),
 datetime.date(2021, 5, 9),
 datetime.date(2021, 5, 10),
 datetime.date(2021, 5, 11),
 datetime.date(2021, 5, 12),
 datetime.date(2021, 5, 13),
 datetime.date(2021, 5, 14),
 datetime.date(2021, 5, 15),
 datetime.date(2021, 5, 16),
 datetime.date(2021, 5, 17),
 datetime.date(2021, 5, 18),
 datetime.date(2021, 5, 19),
 datetime.date(2021, 5, 20),
 datetime.date(2021, 5, 21),
 datetime.date(2021, 5, 22),
 datetime.date(2021, 5, 23),
 datetime.date(2021, 5, 24),
 datetime.date(2021, 5, 25),
 datetime.date(2021, 5, 26),
 datetime.date(2021, 5, 27),
 datetime.date(2021, 5, 28),
 datetime.date(2021, 5, 29),
 datetime.date(2021, 5, 30),
 datetime.date(2021, 5, 31),
 datetime.date(2021, 6, 1),
 datetime.date(2021, 6, 2),
 datetime.date(2021, 6, 3),
 datetime.date(2021, 6, 4),
 datetime.date(2021, 6, 5),
 datetime.date(2021, 6, 6),
 datetime.date(2021, 6, 7),
 datetime.date(2021, 6, 8),
 datetime.date(2021, 6, 9),
 datetime.date(2021, 6, 10),
 datetime.date(2021, 6, 11),
 datetime.date(2021, 6, 12),
 datetime.date(2021, 6, 13),
 datetime.date(2021, 6, 14),
 datetime.date(2021, 6, 15),
 datetime.date(2021, 6, 16),
 datetime.date(2021, 6, 17),
 datetime.date(2021, 6, 18),
 datetime.date(2021, 6, 19),
 datetime.date(2021, 6, 20),
 datetime.date(2021, 6, 21),
 datetime.date(2021, 6, 22),
 datetime.date(2021, 6, 23),
 datetime.date(2021, 6, 24),
 datetime.date(2021, 6, 25),
 datetime.date(2021, 6, 26),
 datetime.date(2021, 6, 27),
 datetime.date(2021, 6, 28),
 datetime.date(2021, 6, 29),
 datetime.date(2021, 6, 30),
 datetime.date(2021, 7, 1),
 datetime.date(2021, 7, 2),
 datetime.date(2021, 7, 3),
 datetime.date(2021, 7, 4),
 datetime.date(2021, 7, 5),
 datetime.date(2021, 7, 6),
 datetime.date(2021, 7, 7),
 datetime.date(2021, 7, 8),
 datetime.date(2021, 7, 9),
 datetime.date(2021, 7, 10),
 datetime.date(2021, 7, 11),
 datetime.date(2021, 7, 12),
 datetime.date(2021, 7, 13),
 datetime.date(2021, 7, 14),
 datetime.date(2021, 7, 15),
 datetime.date(2021, 7, 16),
 datetime.date(2021, 7, 17),
 datetime.date(2021, 7, 18),
 datetime.date(2021, 7, 19),
 datetime.date(2021, 7, 20),
 datetime.date(2021, 7, 21),
 datetime.date(2021, 7, 22),
 datetime.date(2021, 7, 23),
 datetime.date(2021, 7, 24),
 datetime.date(2021, 7, 25),
 datetime.date(2021, 7, 26),
 datetime.date(2021, 7, 27),
 datetime.date(2021, 7, 28),
 datetime.date(2021, 7, 29),
 datetime.date(2021, 7, 30),
 datetime.date(2021, 7, 31),
 datetime.date(2021, 8, 1),
 datetime.date(2021, 8, 2),
 datetime.date(2021, 8, 3),
 datetime.date(2021, 8, 4),
 datetime.date(2021, 8, 5),
 datetime.date(2021, 8, 6),
 datetime.date(2021, 8, 7),
 datetime.date(2021, 8, 8),
 datetime.date(2021, 8, 9),
 datetime.date(2021, 8, 10),
 datetime.date(2021, 8, 11),
 datetime.date(2021, 8, 12),
 datetime.date(2021, 8, 13),
 datetime.date(2021, 8, 14),
 datetime.date(2021, 8, 15),
 datetime.date(2021, 8, 16),
 datetime.date(2021, 8, 17),
 datetime.date(2021, 8, 18),
 datetime.date(2021, 8, 19),
 datetime.date(2021, 8, 20),
 datetime.date(2021, 8, 21),
 datetime.date(2021, 8, 22),
 datetime.date(2021, 8, 23),
 datetime.date(2021, 8, 24),
 datetime.date(2021, 8, 25),
 datetime.date(2021, 8, 26),
 datetime.date(2021, 8, 27),
 datetime.date(2021, 8, 28),
 datetime.date(2021, 8, 29),
 datetime.date(2021, 8, 30),
 datetime.date(2021, 8, 31),
 datetime.date(2021, 9, 1),
 datetime.date(2021, 9, 2),
 datetime.date(2021, 9, 3),
 datetime.date(2021, 9, 4),
 datetime.date(2021, 9, 5),
 datetime.date(2021, 9, 6),
 datetime.date(2021, 9, 7),
 datetime.date(2021, 9, 8),
 datetime.date(2021, 9, 9),
 datetime.date(2021, 9, 10),
 datetime.date(2021, 9, 11),
 datetime.date(2021, 9, 12),
 datetime.date(2021, 9, 13),
 datetime.date(2021, 9, 14),
 datetime.date(2021, 9, 15),
 datetime.date(2021, 9, 16),
 datetime.date(2021, 9, 17),
 datetime.date(2021, 9, 18),
 datetime.date(2021, 9, 19),
 datetime.date(2021, 9, 20),
 datetime.date(2021, 9, 21),
 datetime.date(2021, 9, 22),
 datetime.date(2021, 9, 23),
 datetime.date(2021, 9, 24),
 datetime.date(2021, 9, 25),
 datetime.date(2021, 9, 26),
 datetime.date(2021, 9, 27),
 datetime.date(2021, 9, 28),
 datetime.date(2021, 9, 29),
 datetime.date(2021, 9, 30),
 datetime.date(2021, 10, 1),
 datetime.date(2021, 10, 2),
 datetime.date(2021, 10, 3),
 datetime.date(2021, 10, 4),
 datetime.date(2021, 10, 5),
 datetime.date(2021, 10, 6),
 datetime.date(2021, 10, 7),
 datetime.date(2021, 10, 8),
 datetime.date(2021, 10, 9),
 datetime.date(2021, 10, 10),
 datetime.date(2021, 10, 11),
 datetime.date(2021, 10, 12),
 datetime.date(2021, 10, 13),
 datetime.date(2021, 10, 14),
 datetime.date(2021, 10, 15),
 datetime.date(2021, 10, 16),
 datetime.date(2021, 10, 17),
 datetime.date(2021, 10, 18),
 datetime.date(2021, 10, 19),
 datetime.date(2021, 10, 20),
 datetime.date(2021, 10, 21),
 datetime.date(2021, 10, 22),
 datetime.date(2021, 10, 23),
 datetime.date(2021, 10, 24)]

In [97]:
def zero_padding(data_ls, date_ls):
    ls = [0 for i in range(len(dates))]
    for d in zip(data_ls, date_ls):
        index =  (d[1]-min_date).days
        ls[index] = d[0]
    return ls

In [98]:
import datetime
data_ls = [1, 2, 3]
date_ls = [datetime.date(2021, 4, 1),
 datetime.date(2021, 4, 2),
 datetime.date(2021, 4, 3)]
ls = zero_padding(data_ls, date_ls)

In [99]:
(datetime.date(2021, 4, 1)-min_date).days

0

In [100]:
ls

[1,
 2,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]